@import url('https://fonts.googleapis.com/css?family=Mr+Bedfort|Pacifico|Quicksand');

body {
    padding-top: 70px;
}


.search{
    text-align: center;
    margin-bottom: 20px;
}

text{
    color: #fb4b46;
    font-weight: 700;
    font-family: 'Mr Bedfort', cursive;
    font-size: 26px;
}

.sub{
    font-size: 12px;
    font-family: sans-serif;
    font-weight: 400;
    color: #333333;
}

.glyphicon-heart{
    color: #fb4b46;
}
